<div class="mainContainer border-top-wide border-primary animate__animated animate__fadeIn animate__faster">
    <div class="mainContainer flex-fill d-flex align-items-center justify-content-center ">
        <div class="container-tight py-5">
            <div class="empty ">
                <div class="empty-header ">404</div>
                <p class="empty-title ">Oops… Acabas de encontrar una página de error</p>
                <p class="empty-subtitle text-muted ">
                    Lo sentimos, pero no encotramos la página que buscabas
                </p>
                <div class="empty-action ">
                    <a routerLink="/procesar" class="btn btn-primary ">
                        <svg xmlns="http://www.w3.org/2000/svg " class="icon " width="24 " height="24 " viewBox="0 0 24 24 " stroke-width="2 " stroke="currentColor " fill="none " stroke-linecap="round " stroke-linejoin="round ">
                            <path stroke="none " d="M0 0h24v24H0z " fill="none " />
                            <line x1="5 " y1="12 " x2="19 " y2="12 " />
                            <line x1="5 " y1="12 " x2="11 " y2="18 " />
                            <line x1="5 " y1="12 " x2="11 " y2="6 " /></svg> Volver a la página principal
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>